# mara
-e git+https://github.com/mara/mara-app.git@2.2.0#egg=mara-app
-e git+https://github.com/mara/mara-acl.git@2.0.0#egg=mara-acl
-e git+https://github.com/mara/mara-db.git@4.7.1#egg=mara-db
-e git+https://github.com/mara/mara-page.git@1.5.2#egg=mara-page

-e git+https://github.com/mara/mara-pipelines.git@3.1.1#egg=mara-pipelines
-e git+https://github.com/mara/mara-etl-tools.git@4.0.0#egg=mara-etl-tools
-e git+https://github.com/mara/mara-schema.git@master#egg=mara-schema
-e git+https://github.com/mara/mara-data-explorer.git@3.0.0#egg=mara-data-explorer
-e git+https://github.com/mara/mara-mondrian.git@2.0.1#egg=mara-mondrian
-e git+https://github.com/mara/mara-metabase.git@1.1.0#egg=mara-metabase

-e git+https://git@github.com/mara/mara-olist-ecommerce-data.git@master#egg=mara-olist-ecommerce-data


# running flask
gunicorn
Flask>=1.0.2

# temporarily pin until https://github.com/kvesteri/sqlalchemy-utils/issues/462 is fixed
SQLAlchemy-Utils==0.36.7